<h2>Log in to Beer Enthusiast!</h2>
<form method='post' action '/login'>
	<p>Username: <input type='text' name='username'></p>
	<p>Password: <input type='text' name='password'></p>
	<input type='submit' value='Submit'>
</form>