<h2>Sign Up for Beer Enthusiast!</h2>
<form action ='/signup' method='POST'>
	<p>Name: <input type='text' name='username'></p>
	<p>Password: <input type='text' name='password'></p>
	<input type='submit' value='Submit'>
</form>