<h1> Edit Your Beer </h1>

<h2> Current Beer Information </h2>
<%=@beer.name%><br>
<%=@beer.beer_type%><br>
<%=@beer.brewery%>

<h3>  Edit </h3>
<form action='/beers/<%=@beer.id%>' method='post'>
  <input type="hidden" id="hidden" name="_method" value="patch">
	<label>Name</label>
	<input type='text' name='name'><br>
	<label>Type</label>
	<input type='text' name='beer_type'><br>
	<label>Brewery</label>
	<input type='text' name='brewery'><br>
  <input type="submit" value="submit">
</form>