<h1> Your Beers </h1>

<% @beers.each do |beer| %>
	<p>Beer Name: <%= beer.name %></p><br>
	<p>Type: <%= beer.beer_type %></p><br>
	<p>Brewery: <%= beer.brewery %></p><br>
	<a href="/beers/<%=beer.id%>/edit">Edit this Beer</a><br>
	<a href="/beers/<%-beer.id%>/delete">Delete this Beer</a>

	<br>
<% end %>

<p><a href="/beers/new">Add a New Beer</a></p>


	