<h2>Add a New Beer</h2>

<form action='/beers' method='POST'>
	<label>Name</label>
	<input type='text' name='name'><br>
	<label>Type</label>
	<input type='text' name='type'><br>
	<label>Brewery</label>
	<input type='text' name='brewery'><br>
	
</form>
	
	