<!doctype html>
<html>
  <head>
    <title>Beer Enthusiast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
      <nav>
      <% if logged_in? %>

        <p>Welcome, <%=current_user.username %></p>
        <a href="/beers"> My Beers</a>
        <a href="/logout"> Log Out </a>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>

    </nav>
  
  <div class="container">
    <h1>Beer Enthusiast</h1>
    <% if !@error_message.nil? %>
    <div class="alert alert-warning">
      	<%= @error_message %>
  	</div>
    <% end %>

  <%= yield %>
  </div>
  </body>
 
</html>